created/drawable
altered/drawable
.project.json
altered/drawable.lnk
created/drawable.lnk
created/maps/poison_cave.world
created/spritesheets/monsters_ld_edit.png
created/maps/charwood_east1.tmx.bak
.atcs.lock
created/writer.json
created/spritesheets/Items_johny_baking.png
altered/map_crate_1.png
altered/map_curtain_1.png
altered/items_johny_baking.png
tmp/res/values/loadresources.xml
tmp/res/xml/worldmap.xml
